h1{
    color: azure;
    background-color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Caja{
    background-color: darkblue;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 320px;
    height: 370px;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -10px -10px 30px black ;
    border: 5px solid white;
    margin-top: 20px;
}

.Box{
    background-color:blueviolet;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 320px;
    height: 370px;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -10px -10px 30px black ;
    border: 5px solid white;
    margin-top: 50px;
    margin-left: 350px;

}

.Fuente{
    columns: 2;
    column-gap: 20px;
    column-rule: 5px solid black;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}